body {
    padding-top: 0;
    padding-bottom: 20px;
    background: url("/Content/img/background.jpg") no-repeat top fixed;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column s
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 80%;
    outline: none;
    margin:0;
}

input:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}

.bg-bar {
    background-color: rgba(0, 0, 0, 0.3);
}

.bg-transparency-50 {
    background-color: rgba(113, 113, 113, 0.5);
}

.top-links {
    border-bottom: 1px solid white;
}

.top-links:hover {
    border-bottom: 2px solid #28a745;
}
.font-0{
    font-size: 0px;
}
.font-16{
    font-size: 16px;
}
.autocomplete {
    position: relative;    
    display: inline-block;
    width:80%;
}
    .autocomplete input {
        max-width:100%; 
        margin: 0;
    }



.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0px;
}

    .autocomplete-items div {
        padding: 5px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
        margin:0px;
    }

        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}
hr.dotted-line {
    border-top: 1px dotted lightgray;
    width: 80%;
}
.price{
    font-size: 19pt;
    font-weight:lighter;
}