<link type="text/css" href="~/Content/Site.css" />
<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-white text-center m-3 font-weight-normal">Search for railway tickets</h1>
        <br />

    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12 col-lg-6 offset-lg-3 offset-md-2 card-body card">


            <form method="post" action="/Home/Search">
                <div class="form-group">
                    <div class="fa fa-fw"></div> &emsp;
                    <label class="text-success m-0">From?</label>
                    <div class="form-row">
                        <div class="fa fa-2x fa-map-marker fa-align-center fa-fw"></div>
                        <input type="text" class="form-control outline-none" name="FromStation" placeholder="Departure station" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="fa fa-fw"></div> &emsp;
                    <label class="text-success m-0">To?</label>
                    <div class="form-row">
                        <label class="fa fa-2x fa-map-marker fa-fw" for="ToStationId"></label>
                        <input type="text" class="form-control" name="ToStation" placeholder="Arrival station" required id="ToStationId">
                    </div>
                </div>
                <div class="form-group">
                    <div class="fa fa-fw"></div> &emsp;
                    <label class="text-success m-0">When?</label>
                    <div class="form-row">
                        <label class="fa fa-2x fa-calendar fa-align-center fa-fw" for="DateId"></label>
                        <input type="date" class="form-control" name="Date" value="@DateTime.Now.ToString("yyyy-MM-dd")" required min="@DateTime.Now.ToString("yyyy-MM-dd")" id="DateId">

                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-success justify-content-center" value="Search"> <i class="fa fa-search"> </i> Search</button>
            </form>
        </div>
    </div>

</div>